/*about*/
#about, #headline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#about .banner {
    position: relative;
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

#about .banner > * {
    position: absolute;
}

.banner {
    font-family: 'League Spartan';
    color: white;    
}

.banner h1, .banner p {
    margin-left: 80px;

}

.banner h1{
    font-size: 165px;
}

.banner p{
    font-size: 45px;
}

#headline h1 {
    font-size: 60px;
}

#headline p {
    font-size: 35px;
    text-align: center;
}

#headline, #h-p, #m-v {
    font-family: 'Noticia Text';
    color: #1d4559;
}

#headline {
    margin: 80px 0 20px 0;
}

#h-p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

:is(#history, #purpose) {
    width: 75vw;
    height: 50vh;
    margin: 50px;
    margin-bottom: 100px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

:is(#history, #purpose) > * {
    width: 50%;
    height: 100%;
    object-fit: contain;
}


:is(#history, #purpose) > hgroup > h2 {
    font-size: 50px;
}

:is(#history, #purpose) > hgroup > p {
    font-size: 35px;
}

#history hgroup {
    margin-left: 105px;
}

#purpose hgroup {
    margin-left: 100px;
    margin-right: -80px;
}

#m-v {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 50vh;

    padding: 50px;
    margin-bottom: 150px;
}

#m-v > * {
    width: 50%;
    height: 100%;
    padding: 20px;
    margin: 50px;
    margin-left: 30px;
}

#m-v h2{
    font-size: 3.5rem;
    text-align: center;
}

#m-v li {
    font-size: 1.8rem;  
}

#mission {
    padding-left: 130px;
}

#mission li {
    padding-left: 100px;
}

#vision {
    padding-left: 0px;
    padding-right: 160px;
}

#vision li {
    padding-left: 80px;
}