/*products*/
#product {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#product #headline {
    flex-basis: 100%;
}

#product #categories {
    margin: 20px;
    align-self: flex-start;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#product #categories > * {
    cursor: pointer;
    margin: 20px;
}

#product #display {
    width: 70%;
    position: relative;
    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#promotion, #new-in, #retail {
    position: absolute;
    display: none;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}

:is(#promotion, #new-in, #retail) > article {
    margin: 40px;
}

:is(#promotion, #new-in, #retail).toggle {
    position: relative;
    display: flex;
}

:is(#promo, #new, #ret).toggle {
    color: #124559;
    text-decoration: underline;
}

#headline {
    color: #1D4559;
}

#headline h1 {
    font-family: 'League Spartan';
    font-size: 55px;
}

#headline p {
    font-family: 'Noticia Text';
    font-size: 25px;
}

#categories h6 {
    font-family: 'Noticia Text';
    font-size: 25px;
    color: #A5A5A5;
}

#display article {
    font-family: 'Noticia Text';
}

#display article img {
    border-style: solid;
    border-width: 2px;
    width: 356px;
    height: 516px;
}

#display article h2 {
    color: #1d4559;
}

#display article h3 {
    color: #5F8392;
}

#display article p {
    color: red;
    font-size: 25px;
}

@media screen and (max-width: 890px) {
    #product {
        flex-flow: column nowrap;
    }

    #product #categories {
        flex-flow: row nowrap;
        align-self: center;
        width: 100%;
    }

    #product #display {
        flex-grow: 1;
        width: 100vw;
        align-self: stretch;
        align-items: center;
    }

    #product #display > * {
        flex-flow: column nowrap;
    }

    :is(#promotion, #new-in, #retail) > article {
        margin: 20px;
        align-self: center;
    }
    
}