

/* RESET DEFAULT STYLE */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}



/* NAVIGATION BAR STYLE */
#topnav {
    min-height: 50px;
    background-color: #124559;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#topnav > * {
    margin: 10px;
}

#topnav > .hamburger {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;

    align-self: stretch;
}

/*add padding and font style of link here*/
#topnav > .hamburger > a {
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: flex-end;
    align-self: stretch;
}


#topnav > .hamburger > nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    align-self: center;
}

#menu-btn {
    cursor: pointer;
    display: none;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 498;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    display: none;
}


/*MAIN SECTION*/
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
}


/*FOOTER STYLE*/
footer {
    background-color: #124559;
    color: white;

    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

footer > * {
    margin: 10px;
}

footer > section {
    height: 50vh;
    flex: 0 0 25vw;
}

footer > p {
    font-family: 'Noticia Text';
    padding-top: 10px;
    text-align: center;
    flex: 1 0 100%;
}

footer > #logo, #newsletter > p {
    font-size: 20px;
}

footer > #logo {
    padding-left: 10px;
}

footer > #footnav, #newsletter {
    padding-left: 10px;
    border-left: 3px solid white;
}

footer > #footnav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


footer > #footnav > a{
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
}

footer > #newsletter > h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
}

.icon {
    object-fit: contain;
}

/*slideshow*/
.slideshow {
    position: relative;
    width: 100vw;
    height: 60vh;
}

.slideshow > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slideshow > a > * {
    position: absolute;
}

.slideshow > a > img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 860px) {
    #topnav {
        justify-content: flex-start;
    }

    #topnav > .hamburger {
        margin-top: 0px;
        margin-left: -60vw;
        width: 60vw;
        height: 100vh;
        background-color: white;

        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 499;

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;

        transition: transform 1s ease;
    }

    /*add padding and font style of link here*/
    #topnav > .hamburger > a {
        color: #16294d;
    }

    #topnav > .hamburger > nav {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
    }

    #topnav > .hamburger.show {
        transform: translate(60vw, 0);
    }

    #menu-btn {
        display: block;
    }

    .overlay.show {
        display: block;
    }

    footer {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer > section {
        flex-basis: 20vh;
    }

    footer > p {
        align-self: center;
    }

    footer > #footnav, #newsletter {
        border: none;
    }

    footer > #logo {
        width: 11rem;
    }
}
