/* RESET DEFAULT STYLE */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

ul > li::before {
    content: " • ";
}


/* NAVIGATION BAR STYLE */
#topnav {
    min-height: 50px;
    background-color: #124559;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#topnav > a{
    padding-left: 50px;
}

#topnav > .hamburger {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-self: stretch;
    margin-right: 30px;
}

/*add padding and font style of link here*/
#topnav > .hamburger > a {
    padding: 0px 10px 0px 10px;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    align-self: stretch;
    padding-left: 30px;
    padding-right: 30px;
}

#topnav > .hamburger > a:hover {
    background-color: #eff6e0;
    color: #124559;
    text-decoration: underline;
}

#topnav > .hamburger > nav {
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

#topnav > .hamburger > nav > a {
    margin: 20px;
}

#menu-btn {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    display: none;
}


/*MAIN SECTION*/
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
}


/*FOOTER STYLE*/
footer {
    background-color: #124559;
    color: white;

    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

footer > * {
    margin: 10px;
}

footer > section {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 25vh;
    flex: 0 0 25vw;
}

footer > p {
    font-family: 'Noticia Text';
    padding-top: 10px;
    text-align: center;
    flex: 1 0 100%;
}

footer > #logo, #newsletter > p {
    font-size: 22px;
}

footer > #logo {
    padding-left: 10px;
}

footer > #logo > a {
    margin-left: -20px;
}

footer > #logo > p {
    padding-left: 10px;
    font-size: 25px;
}

footer > #footnav, #newsletter {
    padding-left: 10px;
    border-left: 3px solid white;
}

footer > #footnav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer > #footnav > a {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
}

footer > #footnav > a:hover {
    color: red;
    text-decoration: underline;
}

footer > #newsletter > h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 53px;
    margin-bottom: 10px;
}

footer > #newsletter > p {
    font-size: 19px;
    margin-bottom: 30px;
}

footer > #newsletter > form {
    margin-bottom: 12px;
}

footer > #newsletter > form > button {
    font-family: 'Noticia Text';
    background-color: black;
    color: white;
}

footer > #newsletter > form > button:hover {
    background-color: white;
    color: black;
}

.icon {
    object-fit: contain;
}

/*INDEX*/
#slide1 button {
    font-family: 'Michroma'; 
    color: white; 
    background-color: #021E82;
}


#feature h2 {
    font-family: 'Noticia Text';
    font-size: 45px;
    color:#1D4559;
}

#feature p {
    font-family: 'Noticia Text';
    font-size: 20px;
    color:#1D4559;
}

#sportslook > img {
    margin-top: -45px;
    padding-left: 750px;
}

#sportslook > button {
    font-family: 'League Spartan';
    color: white;
    background-color: black;
    padding: 20px 70px;

    font-size: 45px;
    margin-top: 500px;
    margin-left: 1300px;
}

#featurednews h2 {
    font-family: 'Noticia Text';
    font-size: 45px;
    color:#1D4559;
    margin-bottom: 75px;
}

#featurednews > a > hgroup {
    margin-left: 40px;
}

#featurednews h1 {
    font-family: 'Michroma';
    font-weight: normal;
    font-size: 100px;
    line-height: 110px;
    color:#1D4559;
    padding-top: 45px;
}

#featurednews p {
    font-family: 'Noticia Text';
    font-size: 35px;
    color:#1D4559;  
}

/*slideshow*/
.slideshow {
    position: relative;
    width: 100vw;
    height: 60vh;
}

.slideshow > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slideshow > a > * {
    position: absolute;
}

.slideshow > a > img {
    width: 100%;
    height: 100%;
}

.slideshow > #slide1 > button {
    font-size: 30px;
    padding: 20px 60px;
    margin-left: 350px;
    margin-top: 400px;
}

#feature {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

#feature > nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#feature > nav > a {
    width: 25vw;
    height: 50vh;
    margin: 20px;
}

#feature > hgroup {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#feature > hgroup > p {
    text-align: center;
}

:is(#sportslook, #featurednews) {
    width: 100vw;
    height: 65vh;
    position: relative;
}

#sportslook > * {
    position: absolute;
}

#featurednews > a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 100%;
}

#featurednews > a > img {
    height: 100%;
}

#featurednews > a > hgroup {
    flex-basis: 30%;
    padding-left: 110px;
}

.fade {
    display: none;
}

#indicator {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

span {
    margin: 2px;
    background-color: lightgray;
    width: 10px;
    height: 10px;
    border-radius: 50%/50%;
}

.active {
    background-color: grey;
}

.vector {
    object-fit: contain;
}

#feature, #sportslook, #featurednews {
    margin: 100px 0px 100px 0px;
}

#featurednews {
    margin-bottom: 200px;
    padding-bottom: 150px;
}

#featurednews > a{
    border: 3px solid black;
    height: 50vh;
}

#featurednews > a > img{
    width: 65vw;
}

/*about*/
#about, #headline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#headline {
    margin: 50px 0 20px 0;
}

#about .banner {
    position: relative;
    width: 100vw;
    height: 60vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

#about .banner > * {
    position: absolute;
}

#h-p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

:is(#history, #purpose) {
    width: 75vw;
    height: 50vh;
    margin: 50px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

:is(#history, #purpose) > * {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

:is(#history, #purpose) > hgroup > h2 {
    font-size: 45px;
}

:is(#history, #purpose) > hgroup > p {
    font-size: 30px;
}

#history > hgroup > p {
    width: 90%;
}


#purpose > hgroup {
    padding-left: 100px;
}

#m-v {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 50vh;

    padding: 50px;
    padding-left: 70px;
}

#m-v > * {
    width: 50%;
    height: 100%;
    padding: 20px;
    margin: 50px;
    margin-left: 100px;
}

#mission, #vision {
    width: 30%;
}

:is(#mission, #vision) > h2 {
    font-size: 50px;
    text-align: center;
}

:is(#mission, #vision) > ul {
    font-size: 20px;
}


#vision > h2 {
   margin-left: -10px;
}

#vision > ul {
    margin-left: -10px;
}

.banner {
    font-family: 'League Spartan';
    color: white;    
}

.banner h1, .banner p {
    margin-left: 80px;
}

.banner h1{
    font-size: 165px;
}

.banner p{
    font-size: 45px;
}

#headline h1 {
    font-size: 60px;
}

#headline p {
    font-size: 35px;
    text-align: center;
}

#headline, #h-p, #m-v {
    font-family: 'Noticia Text';
    color: #1d4559;
}

/*contact*/
#headline {
    margin-top: 100px;
}

#forms {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    width: 65vw;
    height: 75vh;
    margin: 50px;
    margin-bottom: 200px;
}

#contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#forms .imgs {
    flex-grow: 1;
}

#forms form {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

#forms input {
    align-self: stretch;
}

#forms button:hover {
    background-color: white;
    color: black;
}

#forms textarea {
    align-self: stretch;
    flex-grow: 1;
}

#contact #headline {
    text-align: center;
}

@media screen and (max-width: 890px) {
    #topnav {
        justify-content: flex-start;
    }

    #topnav > .hamburger {
        margin-top: 0px;
        margin-left: -60vw;
        width: 60vw;
        height: 100vh;
        background-color: #1d4559;

        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999;

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;

        transition: transform 1s ease;
    }

    /*add padding and font style of link here*/
    #topnav > a{
        padding-left: 0px;
    }
    
    #topnav > .hamburger > a {
        margin-top: 25px;
        margin-left: 12px;
        padding: 10px 0px 10px 10px;
        border-bottom: 2px solid white;
        color: white;
    }

    #topnav > .hamburger > a:hover {
        background-color: lightgray;
    }

    #topnav > .hamburger > nav {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
    }

    #topnav > .hamburger.show {
        transform: translate(60vw, 0);
    }

    #menu-btn {
        display: block;
    }

    .overlay.show {
        display: block;
    }

    footer {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer > section {
        flex-basis: 100%;
    }

    footer > p {
        align-self: center;
    }

    footer > #footnav, #newsletter {
        border: none;
    }

    footer > #logo {
        font-size: 1.05rem;
        width: 22rem;
        margin-bottom: 0px;
    }

    #logo > a > img {
        width: 300px;
        padding-left: 10px;
    }

    footer > #footnav {
        margin-bottom: -25px;
    }

    footer > #footnav > a {
        font-size: 40px;
        padding-bottom: 20px;
    }

    #index > .slideshow > #slide1 > .vector {
        max-width: 100%;
        margin: 0px;
    }

    #index > #feature > nav {
        flex-flow: column nowrap;
    }

    #index > #feature > nav > a {
        width: 75vw;
    }

    #index > #feature > nav > a > img {
        object-fit: contain;
        width: 100%;
        margin: 1px;
    }

    #feature {
        margin-top: 50px;
    }

    #sportslook {
        max-width: 100%;
        height: 50vh;
    }

    #sportslook > img {
        object-fit: contain;
        width: 100%;
        padding-top: 100px;
        margin-top: 0px;
        padding-left: 0px;
    }

    #sportslook > a > img {
        width: 400%;
    }

    #sportslook > button {
        padding: 15px 20px;
        width: 300px;
        margin-left: 70px;
        margin-top: 350px;
    }

    #featurednews > a {
        justify-content: center;
    }

    #featurednews > a > img {
        width: 100vw;
    }
    
    #featurednews > a > hgroup {
        position: absolute;
        margin-left: -80px;
    }

    #featurednews > a > hgroup > h1 {
        color: white;
    }

    #featurednews > a > hgroup > p {
        display: none;
    }

    #about > .banner > hgroup > h1 {
        margin-left: 0px;
        font-size: 100px;
        text-align: center;
    }

    #about > .banner > hgroup > p {
        margin-left: 0px;
        font-size: 35px;
        text-align: center;
    }

    #h-p {
        margin-bottom: 20px;
    }
    
    :is(#history, #purpose) {
        width: 100vw;
        height: auto;
        flex-flow: column nowrap;
    }

    :is(#history, #purpose) > hgroup > h2 {
        text-align: center;
    }

    :is(#history, #purpose) > hgroup > p {
        text-align: center;
        font-size: 20px;
    }

    #purpose > img {
        order: 1;
    }

    #purpose > hgroup {
        order: 2;
    }

    #purpose > hgroup {
        padding-left: 0px;
    }

    #purpose > hgroup > h2 {
        line-height: 50px;
        margin-bottom: 12px;
    }

    #m-v {
        height: auto;
        flex-flow: column nowrap;
        margin-top: -35px;
        margin-bottom: 50px;
    }

    #mission, #vision {
        width: 100%;
        margin-left: 20px;
    }

    :is(#mission, #vision) > h2 {
        text-align: center;
        font-size: 50px;
    }

    :is(#mission, #vision) > ul > li {
        text-align: center;
        font-size: 19px;
    }

    #news > .banner > hgroup > h1 {
        margin-left: 0px;
        font-size: 100px;
        text-align: center;
    }

    #news > .banner > hgroup > p {
        margin-left: 0px;
        font-size: 30px;
        text-align: center;
    }

    #news > .headline > p {
        font-size: 25px;
    }

    .blog {
        justify-content: center;
        text-align: center;
    }

    #news > #articles > * {
        flex-flow: column nowrap;
        justify-content: center;
    }

    #news > #articles > #news2 {
        margin-top: -200px;
    }

    #news > #articles > :is(#news1, #news2) > :is(.date, .blog) > p{
        text-align: center;
    }

    #news > #articles > :is(#news1, #news2) > .date > h2{
        font-size: 30px;
    }
    
    #news > #articles > :is(#news1, #news2) > .date > p {
        font-size: 20px;
    }
    
    #news > #articles > :is(#news1, #news2) > .blog > h2{
        width: 122vw;
        text-align: center;
    }

    #news > #articles > #news2 > .blog > h2{
        font-size: 25px;
    }

    #news > #articles > #news1 > .blog > h2{
        font-size: 18px;
    }

    #news > #articles > :is(#news1, #news2) > .blog > p{
        max-width: 100%;
        overflow: hidden;
        padding: 0px;
        margin-left: 130px;
        margin-right: 130px;
    }

    #news > #articles > #news1 > .blog > p{
        font-size: 15px;
    }

    #news > #articles > #news2 > .blog > p{
        font-size: 15px;
    }

    #news > #articles > #news2 > .date > h2{
        z-index: 999;
    }


    #news2 .image img:nth-child(1) {
        object-fit: contain;
        padding-top: 250px;
    }

    #news2 > .image > .vector {
        display: none;
    }

    #forms {
        height: auto;
        flex-flow: column nowrap;
    }

    #forms form {
        width: 100%;
    }

}
