

/* RESET DEFAULT STYLE */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

ul > li::before {
    content: " • ";
}


/* NAVIGATION BAR STYLE */
#topnav {
    min-height: 50px;
    background-color: #124559;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#topnav > .hamburger {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;

    align-self: stretch;
}

/*add padding and font style of link here*/
#topnav > .hamburger > a {
    padding: 0px 10px 0px 10px;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    align-self: stretch;
}

#topnav > .hamburger > a:hover {
    background-color: #eff6e0;
    color: #124559;
    text-decoration: underline;
}

#topnav > .hamburger > nav {
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    align-self: center;
}

#topnav > .hamburger > nav > a {
    margin: 10px;
}

#menu-btn {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    display: none;
}


/*MAIN SECTION*/
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
}


/*FOOTER STYLE*/
footer {
    background-color: #124559;
    color: white;

    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

footer > * {
    margin: 10px;
}

footer > section {
    height: 50vh;
    flex: 0 0 25vw;
}

footer > p {
    font-family: 'Noticia Text';
    padding-top: 10px;
    text-align: center;
    flex: 1 0 100%;
}

footer > #logo, #newsletter > p {
    font-size: 20px;
}

footer > #logo {
    padding-left: 10px;
}

footer > #footnav, #newsletter {
    padding-left: 10px;
    border-left: 3px solid white;
}

footer > #footnav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


footer > #footnav > a{
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
}

footer > #newsletter > h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
}

.icon {
    object-fit: contain;
}

/*slideshow*/
.slideshow {
    position: relative;
    width: 100vw;
    height: 60vh;
}

.slideshow > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slideshow > a > * {
    position: absolute;
}

.slideshow > a > img {
    width: 100%;
    height: 100%;
}

#feature {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

#feature > nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#feature > nav > a {
    width: 25vw;
    height: 75vh;
    margin: 20px;
}

#feature > hgroup {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

:is(#sportslook, #featurednews) {
    width: 100vw;
    height: 60vh;
    position: relative;
}

:is(#sportslook, #featurednews>a) > * {
    position: absolute;
}

.fade {
    display: none;
}

#indicator {
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

span {
    margin: 2px;
    background-color: lightgray;
    width: 10px;
    height: 10px;
    border-radius: 50%/50%;
}

.active {
    background-color: grey;
}

.vector {
    object-fit: contain;
}

#feature, #sportslook, #featurednews {
    margin: 100px 0px 100px 0px;
}

/*about*/
#about, #headline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#headline {
    margin: 50px 0 20px 0;
}

#about .banner {
    position: relative;
    width: 100vw;
    height: 75vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

#about .banner > * {
    position: absolute;
}

#h-p {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

:is(#history, #purpose) {
    width: 75vw;
    height: 50vh;
    margin: 50px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

:is(#history, #purpose) > * {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

#m-v {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 50vh;
}

#m-v > * {
    width: 50%;
    height: 100%;
    padding: 20px;
}


/*news*/
#news {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
#news .banner {
    width: 100vw;
    height: 75vh;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

#news .banner > * {
    position: absolute;
}

#news .headline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 50px 0 40px 0;
}

#articles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#articles > * {
    margin: 50px;
    width: 75vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#articles img {
    width: 100%;
}

#news2 .image {
    position: relative;
    width: 100%;
    height: 40vh;
}

#news2 .image img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#news2 .image .vector {
    object-fit: contain;
    margin-left: 150px;
}

.blog {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}


/*contact*/
#forms {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;

    width: 90vw;
    height: 90vh;

    margin: 50px;
}

#contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#forms .imgs {
    flex-grow: 1;
}

#forms form {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

#forms input {
    align-self: stretch;
}

#forms textarea {
    align-self: stretch;
    flex-grow: 1;
}

#contact #headline {
    text-align: center;
}

@media screen and (max-width: 890px) {
    #topnav {
        justify-content: flex-start;
    }

    #topnav > .hamburger {
        margin-top: 0px;
        margin-left: -60vw;
        width: 60vw;
        height: 100vh;
        background-color: white;

        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999;

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;

        transition: transform 1s ease;
    }

    /*add padding and font style of link here*/
    #topnav > .hamburger > a {
        padding: 10px 0px 10px 10px;
        color: #124559;
    }

    #topnav > .hamburger > a:hover {
        background-color: lightgray;
    }

    #topnav > .hamburger > nav {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
    }

    #topnav > .hamburger.show {
        transform: translate(60vw, 0);
    }

    #menu-btn {
        display: block;
    }

    .overlay.show {
        display: block;
    }

    footer {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer > section {
        flex-basis: 20vh;
    }

    footer > p {
        align-self: center;
    }

    footer > #footnav, #newsletter {
        border: none;
    }

    footer > #logo {
        width: 11rem;
    }

    #index > #feature > nav {
        flex-flow: column nowrap;
    }

    #feature > nav > a {
        width: 75vw;
    }

    :is(#history, #purpose) {
        width: 100vw;
        height: auto;
        flex-flow: column nowrap;
    }

    #purpose > img {
        order: 1;
    }

    #purpose > hgroup {
        order: 2;
    }

    #m-v {
        height: auto;
        flex-flow: column nowrap;
        margin-bottom: 50px;
    }

    .banner {
        align-items: center;
    }

    .blog {
        justify-content: center;
        text-align: center;
    }

    #articles > * {
        flex-flow: column nowrap;
        justify-content: center;
    }

    #news2 .image img:nth-child(1) {
        object-fit: none;
    }

    #news2 .image .vector {
        margin: 0;
    }

    #forms {
        height: auto;
        flex-flow: column nowrap;
    }

    #forms form {
        width: 100%;
    }
}
