<main id="about">
    <hgroup class="banner">
        <h1>About Us</h1>
        <p>about us</p>
    </hgroup>

    <hgroup>
        <h1>About Us</h1>
        <p>about us</p>
    </hgroup>

    <section>
        <article id="history">
            <h2>History</h2>
            <p>history</p>
            <img>
        </article>

        <article id="purpose">
            <h2>Purpose</h2>
            <p>purpose</p>
            <img>
        </article>
    </section>

    <section>
        <article>
            <h2>Mission</h2>
            <ul>
                <li>1</li>
                <li>2</li>
            </ul>
        </article>

        <article>
            <h2>Vision</h2>
            <ul>
                <li>1</li>
            </ul>
        </article>
    </section>
</main>