<main id="about">
    <hgroup class="banner">
        <img src="media/aboutus.jpg" alt="aboutbanner" width="100%" height="100%">
        <hgroup>
            <h1>About Us</h1>
            <p>What and Who about urbane.co</p>
        </hgroup>
    </hgroup>

    <hgroup id="headline">
        <h1>About Us</h1>
        <p>A youth-empowering fashion retail brand based in Malaysia</p>
    </hgroup>

    <section id="h-p">
        <article id="history">
            <img src="media/history.svg" alt="historyimg">
            <hgroup>
                <h2>History</h2>
                <p>Started from zero to retail trendy clothes for rising youth to shine through the crowds.</p>
            </hgroup>
        </article>

        <article id="purpose">
            <hgroup>
                <h2>Brand Purpose</h2>
                <p>The brand for youth's trendsetting retail and provide variety of choice to choose from.</p>
            </hgroup>
            <img src="media/purpose.svg" alt="purposeimg">
        </article>
    </section>

    <section id="m-v">
        <article id="mission">
            <h2>Mission</h2>
            <ul>
                <li>to influence youngsters to express their unique personalities and styles through a diversity of trendy and fashionable clothing choices.</li>
                <li>committed to provide an excellent and comfortable online shopping experience for young customers.</li>
            </ul>
        </article>

        <article id="vision">
            <h2>Vision</h2>
            <ul>
                <li>become the go-to online retail shop for trendsetting youths.</li>
            </ul>
        </article>
    </section>
</main>