<main id="about">
    <hgroup class="banner">
        <h1>About Us</h1>
        <p>What and who about Urbane.Co</p>
    </hgroup>

    <hgroup>
        <h1>About Us</h1>
        <p>A youth-empowering fashion retail fashion brand based in Malaysia.</p>
    </hgroup>

    <section id="h-p">
        <article id="history">
            <img>
            <h2>History</h2>
            <p>Started from zero to retailing trendy clothes for rising youth to shine through the crowds.</p>
        </article>

        <article id="purpose">
            <img>
            <h2>Purpose</h2>
            <p>The brand for youth's trendsitting retail and provide variety of choice to choose from.</p>
        </article>
    </section>

    <section id="m-v">
        <article id="mission">
            <h2>Mission</h2>
            <ul>
                <li>To influence youngsters to express their unique personalities and styles through a diversity of trendy and fashionable clothing choices.</li>
                <li>Committed to provide an excellent and comfortable online shopping experience for young customers.</li>
            </ul>
        </article>

        <article id="vision">
            <h2>Vision</h2>
            <ul>
                <li>Become the go-to online retail shop for trendsetting youths.</li>
            </ul>
        </article>
    </section>
</main>