<main id="contact">
    <hgroup>
        <h1>Contact Us</h1>
        <p>Keep in touch</p>
        <p>Any inquiries & feedbacks are most welcome!</p>
    </hgroup>

    <section>
        <section>
            <p>Mailing Address:</p>
        </section>

        <form>
            <label for="subject">Subject: </label>
            <input type="text" name="subject"><br>

            <label for="email">Email: </label>
            <input type="text" name="email"><br>

            <label for="name">Name: </label>
            <input type="text" name="name"><br>

            <label for="message">Message: </label>
            <textarea name="message"></textarea><br>

            <button type="submit">Submit!</button>
        </form>
    </section>
</main>