<br>
<footer>
    <section id="logo">
        <a href="index.php">logo</a>
        <p>A youth-empowering fashion retail fashion brand based in Malaysia</p>
    </section>

    <section id="footnav">
        <a href="about.php">about</a>
        <a href="products.php">products</a>
        <a href="news.php">news</a>
        <a href="contact.php">contact</a>
    </section>

    <section id="newsletter">
        <h2>Subscribe to Newsletter</h2>
        <p>Get early sale access, Shopee vouchers and new promotions!</p>

        <form>
            <input type="text" name="subscribe">
            <button type="submit">Subscribe</button>
        </form>

        <nav>
            <a href="https://shopee.com.my/">shop</a>
            <a href="https://www.whatsapp.com/">contact</a>
        </nav>
    </section>

    <p>Copyright 2023 &copy urbane.co, All Rights Reserved.</p>
</footer>