<br>
<footer>
    <section id="logo">
        <a href="index.php"><img src="media/urbanelogo.svg" width="400px" height="200px" alt="urbanelogo" class="icon"></a>
        <p>A youth-empowering fashion retail fashion brand based in Malaysia</p>
    </section>

    <section id="footnav">
        <a href="about.php">About</a>
        <a href="products.php">Products</a>
        <a href="news.php">News</a>
        <a href="contact.php">Contact</a>
    </section>

    <section id="newsletter">
        <h2>Subscribe to Newsletter</h2>
        <p>Get early sale access, Shopee vouchers and new promotions!</p>

        <form action="newsletter_form.php" method="post">
            <input type="email" name="email" placeholder="Enter your email address..." required>
            <button type="submit">Subscribe</button>
        </form>

        <nav id="footicons">
            <a href="https://shopee.com.my/"><img src="media/shopee.svg" width="50px" height="50px" alt="shopeeicon" class="icon"></a>
            <a href="https://www.whatsapp.com/"><img src="media/whatsapp-144.svg" width="50px" height="50px" alt="whatsappicon" class="icon"></a>
        </nav>
    </section>

        <p>Copyright 2023 &copy urbane.co, All Rights Reserved.</p>

</footer>