<main id="index">
    <nav class="slideshow">
        <a id="slide1"><img src="media/malemain.svg"></a>
        <a id="slide2">slide2</a>
        <a id="slide3">slide3</a>
        <a id="slide4">slide4</a>
    </nav>

    <div id="indicator">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
    </div>

    <article id="feature">
        <hgroup>
            <h2>Promotion Sales</h2>
            <p>It's Not Just A Sale; It's A Shopping Extravaganza</p>
        </hgroup>

        <nav>
            <a href=""><img src="media/sales1.svg"></a>
            <a href=""><img src="media/sales2.svg"></a>
            <a href=""><img src="media/sales3.svg"></a>
        </nav>
    </article>

    <a href=""><img src="media/sport.svg"></a>
    <a href=""><img src="media/coat.svg"></a>
</main>