<main id="index">
    <nav class="slideshow">
        <a id="slide1" href="products.php" class="fade">
            <img src="media/slide1.png">
            <img src="media/menschoice.svg" class="vector">
            <button>SHOP NOW</button>
        </a>
        <a id="slide2" class="fade">
            <img src="media/couple.jpg">
            <img src="media/summersales.svg" class="vector">
        </a>
        <a id="slide3" class="fade">
            <img src="media/slide3.jpg">
            <img src="media/varsity.svg" class="vector">
        </a>
    </nav>

    <div id="indicator">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
    </div>

    <article id="feature">
        <hgroup>
            <h2>Promotion Sales</h2>
            <p>It's Not Just A Sale; It's A Shopping Extravaganza</p>
        </hgroup>

        <nav>
            <a href="products.php"><img src="media/sales1.svg"></a>
            <a href="#index"><img src="media/sales2.svg"></a>
            <a href="#index"><img src="media/sales3.svg"></a>
        </nav>
    </article>

    <section id="sportslook">
        <a href="#index"><img src="media/sport.svg"></a>
        <img src="media/sportslook.svg" alt="sportslook" class="vector">
        <button>check it out</button>
    </section>

    <section id="featurednews">
        <h2 style="text-align: center;">Featured News</h2>
        <a href="#index">
            <img src="media/coat.jpg">
            <hgroup>
                <h1>Flash</br>Deals</br>Now!</h1>
                <p>up to 50% offer</p>
            </hgroup>
        </a>
    </section>
</main>