<nav id="topnav">
    <div id="menu-btn">menu</div>
    <a href="index.php"><img src="media/urbanelogo.svg" width="50%" height="50%" alt="urbanelogo"></a>
    
    <nav class="hamburger">
        <a href="about.php">About</a>
        <a href="products.php">Products</a>
        <a href="news.php">News</a>
        <a href="contact.php">Contact</a>

        <nav>
            <a href="https://shopee.com.my/"><img src="media/shopee.svg" width="8%" height="8%" alt="shopeeicon"></a>
            <a href="https://www.whatsapp.com/"><img src="media/whatsapp-144.svg" width="29%" height="29%" alt="whatsappicon"></a>
        </nav>
    </nav>
</nav>
<div class="overlay">&nbsp;</div>