<main id="news">
    <hgroup class="banner">
        <img src="media/whatsnew.png" width="2000px" height="800px">
        <h1>What's New</h1>
        <p>Upcoming Fashion Updates</p>
    </hgroup>

    <hgroup>
        <h1>Featured</h1>
        <p>Fresh and New</p>
        <p>Upcoming Sales Sneak Peak and Trend Info</p>
    </hgroup>

    <section>
        <article id="news1">
            <img>

            <hgroup class="date">
                <h2>11 Nov 2023</h2>
                <p>GMT+8 20:53</p>
            </hgroup>

            <section class="blog">
                <h2>Summer Sales is coming to an end!</h2>
                <p>Last call for Summer Deals before it's too hot to handle!</br>
                    Hurry up now and add <a href="products.php" style="color: blue; text-decoration: underline;">these items</a> into your cart!</p>
            </section>
        </article>

        <article id="news2">
            <img>

            <hgroup class="date">
                <h2>29 Aug 2023</h2>
                <p>GMT+8 17:32</p>
            </hgroup>

            <hgroup class="blog">
                <h2>Young! Fresh! Sports!</h2>
                <p>Sports Look promotion is live right now on our <a href="https://shopee.com.my/" style="color: blue; text-decoration: underline;">Shopee!</a></br>
                    Gear up with the latest sport wears and add <a href="products.php" style="color: blue; text-decoration: underline;">these items</a> into your cart!</p>
            </hgroup>
        </article>
    </section>
</main>