<main id="product">
    <hgroup id="headline" style="text-align: center;">
        <h1>Browse our product</h1>
        <p>Your Wardrobe, Your Way</p>
        <p>Youth is not the same as it was in these wears.</p>
    </hgroup>

    <nav id="categories">
        <h6>Promotions</h6>
        <h6>New In</h6>
        <h6>Retails</h6>
    </nav>

    <section id="display">

        <section id="promotion" class="toggle">
            <article id="product1">
                <a href="https://shopee.com.my/Windbreaker-head-i.1017212450.17299554926?sp_atk=27f732f2-eb04-4727-8ee3-2c8d55a6d89f&xptdk=27f732f2-eb04-4727-8ee3-2c8d55a6d89f">
                    <img src="media/prod1.png" width="" height="" alt="">
                    <h2>HEAD Jacket (BLACK)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 29.99</p>
                </a>
            </article>

            <article id="product2">
                <a href="https://shopee.com.my/OREN-SPORT-REVERSIBLE-JACKET-SWEATER-2-IN-1-WINDBREAKER-WR0407-ORANGE-INNER-GREY-2-SIDE-USE-100-POLYESTER-DRIFIT-ZIPPE-i.460275734.5596271563?sp_atk=d502aad0-4d5f-44a7-a029-89d42500d578&xptdk=d502aad0-4d5f-44a7-a029-89d42500d578">
                    <img src="media/prod2.png" width="" height="" alt="">
                    <h2>Reversible Windbreaker</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 29.99</p>
                </a>
            </article>

            <article id="product3">
                <a href="https://shopee.com.my/Windbreaker-Head-with-Hoodies-i.105889762.11886767397?sp_atk=57f77361-d84e-494d-9178-873448de8882&xptdk=57f77361-d84e-494d-9178-873448de8882">
                    <img src="media/prod3.png" width="" height="" alt="">
                    <h2>HEAD Jacket (B+W)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 20.99</p>
                </a>
            </article>
            
            <article id="product4">
                <a href="https://shopee.com.my/Jacket-Bomber-varsity-jacket-The-Bad-God-Spike-i.457183788.13358905663?sp_atk=7c6aabff-c704-4c16-ae2e-a1d2ff855543&xptdk=7c6aabff-c704-4c16-ae2e-a1d2ff855543">
                    <img src="media/prod4.png" width="" height="" alt="">
                    <h2>THE Varsity (RED)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 19.99</p>
                </a>
            </article>

            <article id="product5">
                <a href="https://shopee.com.my/Crossrunner-Unisex-Varsity-Jacket-Unisex-Red-Black-Royal-Navy-Sport-Grey-CRJ1100-i.14741778.1347015790?sp_atk=cf738f68-a3b7-41ae-873c-6d7a6f6f9bcf&xptdk=cf738f68-a3b7-41ae-873c-6d7a6f6f9bcf">
                    <img src="media/prod5.png" width="" height="" alt="">
                    <h2>THE Varsity (Black+Grey)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 19.99</p>
                </a>
            </article>

            <article id="product6">
                <a href="https://shopee.com.my/NTMY-Crossrunner-Varsity-Jacket-Unisex-Long-Sleeves-Baseball-Sweater-Outerwear-CRJ1100-Red-Black-Royal-Navy-Sport-Grey-i.175080417.6125714216?sp_atk=a3859c84-b4ee-4d1c-96b7-8be8fee328a1&xptdk=a3859c84-b4ee-4d1c-96b7-8be8fee328a1">
                    <img src="media/prod6.png" width="" height="" alt="">
                    <h2>THE Varsity (GREEN)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 19.99</p>
                </a>
            </article>

        </section>

        <section id="new-in">
            <article id="product1">
                <a href="https://shopee.com.my/Windbreaker-head-i.1017212450.17299554926?sp_atk=27f732f2-eb04-4727-8ee3-2c8d55a6d89f&xptdk=27f732f2-eb04-4727-8ee3-2c8d55a6d89f">
                    <img src="media/prod1.png" width="" height="" alt="">
                    <h2>HEAD Jacket (BLACK)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 29.99</p>
                </a>
            </article>

            <article id="product2">
                <a href="https://shopee.com.my/OREN-SPORT-REVERSIBLE-JACKET-SWEATER-2-IN-1-WINDBREAKER-WR0407-ORANGE-INNER-GREY-2-SIDE-USE-100-POLYESTER-DRIFIT-ZIPPE-i.460275734.5596271563?sp_atk=d502aad0-4d5f-44a7-a029-89d42500d578&xptdk=d502aad0-4d5f-44a7-a029-89d42500d578">
                    <img src="media/prod2.png" width="" height="" alt="">
                    <h2>Reversible Windbreaker</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 29.99</p>
                </a>
            </article>

            <article id="product7">
                <a href="https://shopee.com.my/Plus-Size-2XL-5XL-Women's-Stand-Collar-Black-Beige-Thick-Winter-Coats-Oversized-Zip-Up-Female-Outerwear-i.39235442.19484673742?sp_atk=0ba0c8ba-5d29-4dbc-9dd5-092bd25b12a5&xptdk=0ba0c8ba-5d29-4dbc-9dd5-092bd25b12a5">
                    <img src="media/prod7.png" width="" height="" alt="">
                    <h2>Gu Women Oversized Coat Women</h2>
                    <p>RM 69.99</p>
                </a>
            </article>

            <article id="product8">
                <a href="https://shopee.com.my/Authentic-EDDIE-BAUER-Parka-i.1128125421.24002193826?sp_atk=28cc57a2-724a-40d2-8e58-58ee6f71a4f9&xptdk=28cc57a2-724a-40d2-8e58-58ee6f71a4f9">
                    <img src="media/prod8.png" width="" height="" alt="">
                    <h2>Eddie Bauer Women Beige Coat</h2>
                    <p>RM 89.99</p>
                </a>
            </article>
        </section>

        <section id="retail">
            <article id="product5">
                <a href="https://shopee.com.my/Crossrunner-Unisex-Varsity-Jacket-Unisex-Red-Black-Royal-Navy-Sport-Grey-CRJ1100-i.14741778.1347015790?sp_atk=cf738f68-a3b7-41ae-873c-6d7a6f6f9bcf&xptdk=cf738f68-a3b7-41ae-873c-6d7a6f6f9bcf">
                    <img src="media/prod5.png" width="" height="" alt="">
                    <h2>THE Varsity (Black+Grey)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 19.99</p>
                </a>
            </article>

            <article id="product6">
                <a href="https://shopee.com.my/NTMY-Crossrunner-Varsity-Jacket-Unisex-Long-Sleeves-Baseball-Sweater-Outerwear-CRJ1100-Red-Black-Royal-Navy-Sport-Grey-i.175080417.6125714216?sp_atk=a3859c84-b4ee-4d1c-96b7-8be8fee328a1&xptdk=a3859c84-b4ee-4d1c-96b7-8be8fee328a1">
                    <img src="media/prod6.png" width="" height="" alt="">
                    <h2>THE Varsity (GREEN)</h2>
                    <h3>Value Offer!</h3>
                    <p>RM 19.99</p>
                </a>
            </article>

            <article id="product7">
                <a href="https://shopee.com.my/Plus-Size-2XL-5XL-Women's-Stand-Collar-Black-Beige-Thick-Winter-Coats-Oversized-Zip-Up-Female-Outerwear-i.39235442.19484673742?sp_atk=0ba0c8ba-5d29-4dbc-9dd5-092bd25b12a5&xptdk=0ba0c8ba-5d29-4dbc-9dd5-092bd25b12a5">
                    <img src="media/prod7.png" width="" height="" alt="">
                    <h2>Gu Women Oversized Coat Women</h2>
                    <p>RM 69.99</p>
                </a>
            </article>

            <article id="product8">
                <a href="https://shopee.com.my/Authentic-EDDIE-BAUER-Parka-i.1128125421.24002193826?sp_atk=28cc57a2-724a-40d2-8e58-58ee6f71a4f9&xptdk=28cc57a2-724a-40d2-8e58-58ee6f71a4f9">
                    <img src="media/prod8.png" width="" height="" alt="">
                    <h2>Eddie Bauer Women Beige Coat</h2>
                    <p>RM 89.99</p>
                </a>
            </article>
        </section>
        
    </section>
</main>