<main id="product">
    <hgroup>
        <h1>Browse our product</h1>
        <p>Your Wardrobe, Your Way</p>
        <p>Youth is not the same as it was in these wears.</p>
    </hgroup>

    <nav>
        <h6>Promotions</h6>
        <h6>New In</h6>
        <h6>Retails</h6>
    </nav>

    <section id="display">

        <section id="promotion">
            <article>
                <img>
            </article>
        </section>

        <section id="new-in">
            <article>
                <img>
            </article>
        </section>

        <section id="retail">
            <article>
                <img>
            </article>
        </section>
        
    </section>
</main>